body {
  margin: 0px;
  padding: 0px;
  
  font-family: "PT Sans", Arial sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #010101;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  
  text-align: center;
  color: #010101;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fcdb00;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

/*--header--*/

.main-header {
  background-color: #fcdb00;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  
  padding: 60px 7px;
  font-size: 22px;
  font-weight: 700;
  
  background-color: #fcdb00;
}

.main-header-logo {
  display: flex;
  align-items: flex-end;
  
  font-size: 30px;
}

.main-header-logo span {
  margin: 0 0 13px 10px;
}

.site-navigation {
  display: flex;
  align-items: flex-end;
  
  list-style: none;
  
  margin: 0 0 9px 0;
  padding: 0;
}

.site-navigation a {
  color: #010101;
  padding-right: 71px;
}

.site-navigation li:last-child a{
  padding-right: 0px;
}

/*--slider--*/

.slider {
  background-color: #fcdb00;
}

.slider-list {
  list-style: none;
}

.slider-item h3 {
  font-size: 32px;
  line-height: 18px;
  font-weight: 700;
}

.slider-item h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #313841;
}

.slider-item p {
  color: #545454;
}

.link-store {
  list-style: none;
}

.slader-toggles {
  list-style: none;
}

/*--features--*/

.features h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.features > p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #313841;
}

.features-list {
  list-style: none;
}

.features-item h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

.features-item p {
  color: #898989;
}

/*--subscription--*/

.subscription {
  background-color: #010101;
}

.subscription h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #fcdb00;
}

.subscription p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #898989;
}


.subscription-form input {
  font: inherit;
  color: #898989;
  border: none;
}

.link-social {
  list-style: none;
}

/*--footer--*/

.main-footer {
  color: #ffffff;
  
  background-color: #010101;
}

.footer-contacts a {
  color: #ffffff;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  color: #ffffff;
}