body {
  margin: 0px;
  padding: 0px;
  
  font-family: "PT Sans", Arial sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #010101;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  
  text-align: center;
  color: #010101;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fcdb00;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 940px;
  
  background-color: #fcdb00;
}

/*--header--*/

.main-header {
  background-color: #fcdb00;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  
  padding: 60px 7px;
  font-size: 22px;
  font-weight: 700;
}

.main-header-logo {
  display: flex;
  align-items: flex-end;
  
  font-size: 30px;
}

.main-header-logo span {
  margin: 0 0 13px 10px;
}

.site-navigation {
  display: flex;
  align-items: flex-end;
  
  list-style: none;
  
  margin: 0 0 9px 0;
  padding: 0;
}

.site-navigation li:nth-child(2) {
  padding: 0 71px
}

.site-navigation a {
  color: #010101;
}

/*--slider--*/

.slider {
 background-color: #fcdb00;
}

.slider-list {
  margin: 0 auto;
  padding: 0;
  width: 940px;
  
  list-style: none;
  
  background-color: #fcdb00;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  
  margin: 0;
  padding: 0 9px;
}

.content-wrapper{
  width: 392px;
  padding: 76px 0 0 0;
}

.slider-item h3 {
  margin: 0;
  padding: 0 0 28px 0;
  
  font-size: 32px;
  line-height: 18px;
  font-weight: 700;
}

.slider-item h4 {
  margin: 0;
  padding: 0 0 18px 0;
  
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #313841;
}

.slider-item p {
  margin: 0;
  padding: 0;
  
  color: #545454;
}

.link-store {
  display: flex;
  
  margin: 39px 0 0 -2px;
  padding: 0;
  
  list-style: none;
}

.link-store li:nth-child(2) {
  margin: 0 27px 0 28px;
}

.store-button {
  display: block;
  
  width: 42px;
  height: 42px;
  
  background-image: url("../img/store-buttons.png");
  background-repeat: no-repeat;
}

.store-button.googleplay {
  background-position: center;
}

.store-button.msstore {
  background-position: right;
}

.slider-image {
  width: 316px;
  height: 470px;
  padding-top: 1px;
  padding-right: 34px;
}

.slider-toggles {
  display: flex;
  justify-content: space-between;
  
  margin: 0 auto;
  padding: 40px 0 47px 0;
  width: 56px;
  
  list-style: none;
}

.toggle-button {
  width: 14px;
  height: 14px;
      
  border: 1px solid #feed80;
  border-radius: 14px;
  
  background-color: #feed80;
}

.toggle-button.active {
  border-color: #ffffff;
  
  background-color: #ffffff;
}

/*--features--*/

.features {
  margin: 0 auto 79px auto;
  padding: 0;
  width: 940px;
}

.features h2 {
  margin: 114px 0 15px 0;
  padding: 0;
  
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.features > p {
  margin: 0 auto;
  margin-bottom: 86px;
  padding: 0;
  
  width: 740px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #313841;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.features-item {
  width: 300px;
}

.features-item h3 {
  margin: 0;
  padding: 0 0 11px 79px;
  position: relative;
  
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

.features-item h3::before {
  content: '';
   
  width: 33px;
  height: 40px;
  position: absolute;
  top: 2px;
  left: 13px;
  
  background-image: url("../img/icon1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item:nth-child(2) h3::before {
  width: 43px;
  height: 44px;
  
  left: 9px;
  
  background-image: url("../img/icon2.png");
}

.features-item:nth-child(3) h3::before {
  width: 47px;
    
  left: 5px;
  
  background-image: url("../img/icon3.png");
}

.features-item:nth-child(4) h3::before {
  width: 52px;
  height: 39px;
  
  left: 3px;
  
  background-image: url("../img/icon4.png");
}

.features-item:nth-child(5) h3::before {
  width: 51px;
  
  left: 6px;
  
  background-image: url("../img/icon5.png");
}

.features-item:nth-child(6) h3::before {
  width: 36px;
  height: 43px;
  
  left: 10px;
  
  background-image: url("../img/icon6.png");
}

.features-item p {
  margin: 0;
  padding: 0 0 84px 79px;
  
  color: #898989;
}

/*--subscription--*/

.subscription {
  background-color: #010101;
}

.subscription h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #fcdb00;
}

.subscription p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #898989;
}


.subscription-form input {
  font: inherit;
  color: #898989;
  border: none;
}

.link-social {
  list-style: none;
}

/*--footer--*/

.main-footer {
  color: #ffffff;
  
  background-color: #010101;
}

.footer-contacts a {
  color: #ffffff;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  color: #ffffff;
}